<div class="flex flex-col w-56 bg-white overflow-hidden">
  <div class="flex items-center justify-center h-20 shadow-md">
    <h1 class="text-3xl uppercase text-indigo-500">Logo</h1>
  </div>
  <ul class="flex flex-col py-2 px-2">
    <li>
      <a href= "<%= dashboard_index_url %>" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
        <span class="text-sm font-medium no-underline">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="<%= books_url %>" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400 no-underline"><i class="bx bx-book"></i></span>
        <span class="text-sm font-medium no-underline">Books</span>
      </a>
    </li>
    <li>
      <a href="<%= exchanges_url %>" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400 no-underline"><i class="bx bx-repost"></i></span>
        <span class="text-sm font-medium no-underline">Exchanges</span>
      </a>
    </li>
    <li>
      <a href="<%= donations_url %>" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400 no-underline"><i class="bx bx-gift"></i></span>
        <span class="text-sm font-medium no-underline">Donations</span>
      </a>
    </li>
    <li>
      <a href="<%= user_path(current_user.id) %>" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400 no-underline"><i class="bx bx-user"></i></span>
        <span class="text-sm font-medium no-underline">Profile</span>
      </a>
    </li>
    <div class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 no-underline">
      <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400 no-underline"><i class="bx bx-log-out"></i></span>
      <%= button_to 'Logout', destroy_user_session_url, method: :delete, class: "text-sm font-medium no-underline" %>
    </div>

    </li>
  </ul>
</div>
